/* Style.css */

/*Compass Imports*/
@import "compass";
@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import 'compass/css3/filter';
@import "compass/css3/flexbox";
@import "compass/css3/transition";
@import "compass/typography/vertical_rhythm";

/*External Libraries*/
@import "susy";
@import "breakpoint";

/*Internal Partials*/
@import "variables";
@import "mixins";
@import "layout";

/*Modules*/
@import "modules/nav";
@import "modules/carousel";
@import "modules/about";
@import "modules/classes";
@import "modules/parallax";
@import "modules/coaches";
