// KGB Logo Splash
header {
	position: relative;
}
.fullheight {
	@include breakpoint(max-width 768px) {
		margin-top: 50px;
	}
}
#kgb-logo {
	float:left;
	position: fixed;
	z-index: 101;
	transition: all .5s ease-out;
	background-image: url(../images/kgblogo.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100%;
	@include breakpoint(max-width 768px) {
		margin-top: -50px;
	}
}
@include breakpoint(0 $medium) {
	#kgb-logo {
	width: 300px;
	height: 50px;
	}
}
.logo-bg {
	position: fixed;
	width: 100%;
	height: 25%;
	background: linear-gradient(rgba($black, 1), rgba($black, 1), rgba($black, .5), rgba($black, 0));
	opacity: .5;
	z-index: 98;
	transition: all 1s ease-in-out;
	text-align: right;

}//logo-bg
.bg-hide {opacity: 0; height:0;}
$kgbWidth: 600px;
	$kgbHeight: 100px;
.kgb-lg {
	
	width: $kgbWidth*1.5;
	height: $kgbHeight*1.5;
}
.kgb-sm {
	width: $kgbWidth/2.5;
	height: $kgbHeight/2.5;
}

/* Carousel Fade */
.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}


.carousel-control {
	opacity: 0;
}
.carousel-control.right, .carousel-control.left {
	background-image: none;
}
#featured .item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%; height: 100%;
}

.circle-down {
	position: absolute;
	display: inline-block;
	bottom: 100px; right: 0;
	width:100%;height:100px;
	text-align: center;
	font-size: 150px;
	@include breakpoint(768px){
		bottom: 200px;
	}//breakpoint 768
	i {

		color:rgba($orange, .75);
	}// i
}//circle-down