footer {
	@include container(100%);
		@include background-image(
		linear-gradient(
			lighten($black, 20%), $black	
		));
	padding: rhythm(1) 0;
	#socialmedia {
		text-align: center;
		ul {
			list-style: none;
			li {
				h1 {
					font-size: .8em;
					color: $white;
					font-weight: $normal;
					font-family: $bodyFont;
					@include breakpoint($medium){
						font-size: 1.2em;
					}
				}
				display: inline-block;
				padding: 0 rhythm(.5);
				img {
					width: 30px;
					@include border-radius(50%);
					vertical-align: middle;
				}// img
			}//li
		}//ul
	}//socialmedia
}// footer