#location {
	@include clearfix();
	padding-bottom: rhythm(2);
	
	.heading{
		@include container(95%);
		h1{
			@include text-shadow(0px 2px darken($orange,15%));
		}// h1
	}// .heading

	.content {
		section {
			@include container(90%);
			font-size: 1.25rem;
			line-height: 100%;
			ul {
				font-size:1.5rem;
				line-height: 150%;
				text-align: right;
				li a {
					color: darken($orange,5%);
					font-family: $headFont;
					text-decoration: underline;
					&:hover {
						color: lighten($orange, 10%);
					}// hover
				}// li a
			}// ul	
			h1 {
				font-size: 1.2rem;
				padding-bottom: rhythm(.5);
				color: $red;
			}//h1
			h1:before {
				font-family: 'fontawesome';
				content: '\f279';  //map
				font-weight: $normal;
				color: $red;
				margin-right: rhythm(.5);
			}//h1:before
		}	//section

		iframe {
			width: 100%;
			height: rhythm(15);
		}// .googlemap

		#directions {
			@include border-radius(rhythm(.5));
			border: 3px solid $red;
			padding:rhythm(.5);
			margin-bottom:rhythm(2);
			font-size: 1.25rem;
			line-height: 140%;
			h1{font-size: 1.75rem;} 
		}// #directions

		@include breakpoint($medium) {
			iframe {
				@include border-radius(rhythm(1));
			}
			.text {
				p{font-size: 1.5rem;}
				line-height: 170%;
			}
			section {
				@include span(2 of 4);
				iframe {
				width: 100%;
				height: rhythm(30);
			}// iframe
			}//map
			#directions {
				font-size: 1.5rem;
				line-height: 140%;
				h1{font-size: 2rem;} 
			}// #directions
		}//$medium $large

		@include breakpoint($large) {
			
			iframe {
				width: 100%;
				height: rhythm(20);
				@include border-radius(rhythm(2));
			}// .googlemap
			.text {
				p {font-size: 1.5rem;}
				ul{
					li{
					font-size: 2rem;
					margin-top: rhythm(.5);
					} //li
				}// ul
			}//text

			#directions {
				font-size: 1rem;
				line-height: 140%;
				h1{font-size: 1.5rem;} 
			}// #directions
		}// $large

	

		
	}// .content
}// @location


