
.navbar {
	margin-bottom:0;
}

header .navbar-default { @include background-image(
	linear-gradient(
		lighten($black, 20), $black
		));
	height: 50px;
	border:none;
	border-radius: 0;
	z-index: 100;
	.nav-wrap {
		@include container(95%);
	}
	.navbar-nav a, .navbar-nav a:focus {
		color: $white;
		font-family: $headFont;
		// text-transform: uppercase;
		font-size: 1.2rem;
		padding: 10px;
		@include breakpoint(max-width $medium) {
			font-size: 1rem;
		}
		&:hover{
			color: $orange;
			border-bottom: 4px solid $orange;
		}
		&.active {
			color: $orange;
			border-bottom: 4px solid $orange;
		}
	}// navbar-nav a
	@include breakpoint(max-width 768px){
	 position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
	}
} //header navbar-default

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}

// Navbar Toggle
.navbar-default .navbar-toggle {
	background-color: $white;
	border: 2px solid $orange;
	.icon-bar {
	background-color: $orange;
	}//icon-bar
	&:focus {
		background-color: $orange;
		.icon-bar {
			background-color: $white;
		}//icon-bar
	}//focus
	&:hover {
		background-color: $orange;
		border: 2px solid $white;
		.icon-bar {
			background-color: $white;
		}//icon-bar
	}//hover
}//navbar-toggle

@media only screen and (max-width: 768px) {
	header .navbar-collapse {background-color: rgba(0,0,0,.75);}
	header .navbar-default {
		.nav-wrap {
			@include container(100%);
		}//nav-wrap
		.navbar-nav a, .navbar-nav a:focus {
		color: $white;
		font-size: 2rem;
		padding: 10px;
		margin-left: 2rem;
		&:hover{
			color: $orange;
			border-bottom: 4px solid $orange;
			padding-bottom: 6px;
		}
		&.active {
			color: $orange;
			border-bottom: 4px solid $orange;
			padding-bottom: 6px;
		}
	}// navbar-nav a
	}// header navbar-default
}//breakpoint