#schedule {
	@include stripedBg(darken($white,20%), darken($white,10%));
	padding-top: 0;
	padding-bottom: rhythm(2);
	@include clearfix();
	.heading {
		@include box-shadow(1px 3px 0 $white);
		@include container(100%);
		@include background-image(
			linear-gradient(
				darken($yellow, 5%), darken($yellow, 15%)
			));
		padding: rhythm(1);
		padding-left: rhythm(3);
		padding-bottom: rhythm(.5);
		h1 {
			padding-top:50px;
			@include text-shadow(1px 3px 0 $white);
			color: $black;
		}// h1
	}// .heading
	.content {
		div{
			@include breakpoint($medium) {@include span(4 of 20);}
			@include breakpoint($large){@include span(2 of 10);}

			
			h1 {
				@include container(100%);
				@include background-image(
					linear-gradient(
						darken($yellow, 5%), darken($yellow, 15%)
				));
				text-align: center;
				color: $black;
				text-transform: uppercase;
				font-size: 1.5rem;
				margin-top:rhythm(.5);
				padding: .5em;
				@include breakpoint($medium){
					@include box-shadow(1px 3px 0 $white);
					}// $medium
				@include breakpoint(0 $medium){
					margin-top:0;
					border-top: 2px solid $black;
				}// 0 $medium
			}// h1
			p {
				@include breakpoint(0 $medium){
					@include container(90%);
				}// 0 $medium
				@include border-radius(rhythm(.25));
				background-color: darken($blue, 15%);
				color:$white;
				text-align: center;
				padding: rhythm(.5);
				margin: .5rem;
				&.foundations-sched {
					background-color: darken($green, 20%);
				} // &.foundations-sched
				&.ais-sched {
					background-color: darken($red, 20%);
					}//&.ais-sched
				&.open-gym {
					background-color: lighten($black,50%);
					color: darken($yellow, 15%);
				}// open-gym
			}// p
		}// div
	}// .content
}// #schedule


