/* Style.css */
/*Compass Imports*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans100,400,700|Roboto+Slab:100,400,700);
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*External Libraries*/
/*Internal Partials*/
/* line 21, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 106, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 1, ../../../components/sass/_layout.scss */
body {
  background: #fff;
  font-family: "Droid Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

/* line 8, ../../../components/sass/_layout.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
  color: #E6AE2A;
  font-weight: 700;
}

/* line 13, ../../../components/sass/_layout.scss */
strong {
  font-weight: 700;
}

/* line 16, ../../../components/sass/_layout.scss */
p {
  margin: 0;
  margin-bottom: 1.25em;
  text-align: justify;
}

/* line 21, ../../../components/sass/_layout.scss */
.scene {
  padding-top: 75px;
}
/* line 24, ../../../components/sass/_layout.scss */
.scene .heading h1 {
  font-size: 1.75rem;
  margin-bottom: 0.625em;
}

/* line 30, ../../../components/sass/_layout.scss */
a {
  text-decoration: none;
}
/* line 32, ../../../components/sass/_layout.scss */
a:hover {
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1200px) {
  /* line 37, ../../../components/sass/_layout.scss */
  body {
    font-size: 1.4rem;
    line-height: 130%;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  /* line 43, ../../../components/sass/_layout.scss */
  body {
    font-size: 1.2rem;
    line-height: 130%;
  }
}
@media (min-width: 0) and (max-width: 640px) {
  /* line 49, ../../../components/sass/_layout.scss */
  body {
    font-size: 1rem;
    line-height: 140%;
  }
}
/*Modules*/
/* line 2, ../../../components/sass/modules/_nav.scss */
.navbar {
  margin-bottom: 0;
}

/* line 6, ../../../components/sass/modules/_nav.scss */
header .navbar-default {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #333333));
  background-image: -moz-linear-gradient(#000000, #333333);
  background-image: -webkit-linear-gradient(#000000, #333333);
  background-image: linear-gradient(#000000, #333333);
  height: 60px;
  border: none;
  border-radius: 0;
  z-index: 100;
}
/* line 14, ../../../components/sass/modules/_nav.scss */
header .navbar-default .nav-wrap {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
header .navbar-default .nav-wrap:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 17, ../../../components/sass/modules/_nav.scss */
header .navbar-default .navbar-nav a, header .navbar-default .navbar-nav a:focus {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  padding: 10px;
}
@media (min-width: 1200px) {
  /* line 17, ../../../components/sass/modules/_nav.scss */
  header .navbar-default .navbar-nav a, header .navbar-default .navbar-nav a:focus {
    font-size: 1.4rem;
  }
}
/* line 26, ../../../components/sass/modules/_nav.scss */
header .navbar-default .navbar-nav a:hover, header .navbar-default .navbar-nav a:focus:hover {
  color: #E6AE2A;
  border-bottom: 4px solid #E6AE2A;
}
/* line 30, ../../../components/sass/modules/_nav.scss */
header .navbar-default .navbar-nav a.active, header .navbar-default .navbar-nav a:focus.active {
  color: #E6AE2A;
  border-bottom: 4px solid #E6AE2A;
}
@media (max-width: 768px) {
  /* line 6, ../../../components/sass/modules/_nav.scss */
  header .navbar-default {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
  }
}

/* line 44, ../../../components/sass/modules/_nav.scss */
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

/* line 53, ../../../components/sass/modules/_nav.scss */
.navbar-default .navbar-toggle {
  background-color: #fff;
  border: 2px solid #E6AE2A;
}
/* line 56, ../../../components/sass/modules/_nav.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #E6AE2A;
}
/* line 59, ../../../components/sass/modules/_nav.scss */
.navbar-default .navbar-toggle:focus {
  background-color: #E6AE2A;
}
/* line 61, ../../../components/sass/modules/_nav.scss */
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
/* line 65, ../../../components/sass/modules/_nav.scss */
.navbar-default .navbar-toggle:hover {
  background-color: #E6AE2A;
  border: 2px solid #fff;
}
/* line 68, ../../../components/sass/modules/_nav.scss */
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}

/* line 73, ../../../components/sass/modules/_nav.scss */
body > header > nav > div > div.navbar-header > button {
  height: 46px;
  width: 46px;
}

@media only screen and (max-width: 768px) {
  /* line 79, ../../../components/sass/modules/_nav.scss */
  header .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.75);
  }

  /* line 82, ../../../components/sass/modules/_nav.scss */
  header .navbar-default .nav-wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  header .navbar-default .nav-wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 85, ../../../components/sass/modules/_nav.scss */
  header .navbar-default .navbar-nav a, header .navbar-default .navbar-nav a:focus {
    color: #fff;
    font-size: 2rem;
    padding: 10px;
    margin-left: 2rem;
  }
  /* line 90, ../../../components/sass/modules/_nav.scss */
  header .navbar-default .navbar-nav a:hover, header .navbar-default .navbar-nav a:focus:hover {
    color: #E6AE2A;
    border-bottom: 4px solid #E6AE2A;
    padding-bottom: 6px;
  }
  /* line 95, ../../../components/sass/modules/_nav.scss */
  header .navbar-default .navbar-nav a.active, header .navbar-default .navbar-nav a:focus.active {
    color: #E6AE2A;
    border-bottom: 4px solid #E6AE2A;
    padding-bottom: 6px;
  }
}
/* line 2, ../../../components/sass/modules/_carousel.scss */
header {
  position: relative;
}

@media (max-width: 768px) {
  /* line 5, ../../../components/sass/modules/_carousel.scss */
  .fullheight {
    margin-top: 50px;
  }
}

/* line 10, ../../../components/sass/modules/_carousel.scss */
#kgb-logo {
  float: left;
  position: fixed;
  z-index: 101;
  transition: all .5s ease-out;
  background-image: url(../images/kgblogo.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}
@media (max-width: 768px) {
  /* line 10, ../../../components/sass/modules/_carousel.scss */
  #kgb-logo {
    margin-top: -50px;
  }
}

@media (min-width: 0) and (max-width: 768px) {
  /* line 24, ../../../components/sass/modules/_carousel.scss */
  #kgb-logo {
    width: 300px;
    height: 50px;
  }
}
/* line 29, ../../../components/sass/modules/_carousel.scss */
.logo-bg {
  position: fixed;
  width: 100%;
  height: 25%;
  background: linear-gradient(#000000, #000000, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  opacity: .5;
  z-index: 98;
  transition: all 1s ease-in-out;
  text-align: right;
}

/* line 40, ../../../components/sass/modules/_carousel.scss */
.bg-hide {
  opacity: 0;
  height: 0;
}

/* line 43, ../../../components/sass/modules/_carousel.scss */
.kgb-lg {
  width: 900px;
  height: 150px;
}

/* line 48, ../../../components/sass/modules/_carousel.scss */
.kgb-sm {
  width: 240px;
  height: 40px;
}

/* Carousel Fade */
/* line 54, ../../../components/sass/modules/_carousel.scss */
.carousel.fade {
  opacity: 1;
}

/* line 58, ../../../components/sass/modules/_carousel.scss */
.carousel.fade .item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

/* line 68, ../../../components/sass/modules/_carousel.scss */
.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;
  position: relative;
}

/* line 74, ../../../components/sass/modules/_carousel.scss */
.carousel.fade .item.active {
  opacity: 1;
}

/* line 79, ../../../components/sass/modules/_carousel.scss */
.carousel-control {
  opacity: 0;
}

/* line 82, ../../../components/sass/modules/_carousel.scss */
.carousel-control.right, .carousel-control.left {
  background-image: none;
}

/* line 85, ../../../components/sass/modules/_carousel.scss */
#featured .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

/* line 92, ../../../components/sass/modules/_carousel.scss */
.circle-down {
  position: absolute;
  display: inline-block;
  bottom: 100px;
  right: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 150px;
}
@media (min-width: 768px) {
  /* line 92, ../../../components/sass/modules/_carousel.scss */
  .circle-down {
    bottom: 200px;
  }
}
/* line 102, ../../../components/sass/modules/_carousel.scss */
.circle-down i {
  color: rgba(230, 174, 42, 0.75);
}

/* line 1, ../../../components/sass/modules/_about.scss */
#about {
  margin-bottom: 2em;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
#about:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 4, ../../../components/sass/modules/_about.scss */
#about strong {
  font-family: "Roboto Slab", serif;
}
/* line 22, ../../../components/sass/_mixins.scss */
#about article:before, #about article:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
#about article:after {
  clear: both;
}
/* line 9, ../../../components/sass/modules/_about.scss */
#about article ul {
  padding-left: 1.25em;
  padding-right: 1.25em;
}
/* line 22, ../../../components/sass/_mixins.scss */
#about article #community:before, #about article #community:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
#about article #community:after {
  clear: both;
}
/* line 15, ../../../components/sass/modules/_about.scss */
#about article #community ul {
  margin-top: 1em;
}
/* line 17, ../../../components/sass/modules/_about.scss */
#about article #community img {
  -moz-border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  border-radius: 0.625em;
  width: 100%;
  margin-bottom: 1em;
}
/* line 23, ../../../components/sass/modules/_about.scss */
#about article #components {
  padding-bottom: 1em;
}
/* line 22, ../../../components/sass/_mixins.scss */
#about article #components:before, #about article #components:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
#about article #components:after {
  clear: both;
}
/* line 22, ../../../components/sass/_mixins.scss */
#about article .about-kgb:before, #about article .about-kgb:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
#about article .about-kgb:after {
  clear: both;
}
/* line 30, ../../../components/sass/modules/_about.scss */
#about article .about-kgb li {
  border-bottom: 1px solid #E6AE2A;
  padding: 0.625em;
  text-align: justify;
  margin: 5px auto;
}
/* line 31, ../../../components/sass/modules/_about.scss */
#about article .about-kgb li strong {
  text-shadow: 0 2px 0 #E6AE2A;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  /* line 39, ../../../components/sass/modules/_about.scss */
  #about article .about-kgb li:last-child {
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  /* line 47, ../../../components/sass/modules/_about.scss */
  #about #info section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.66667%;
    padding-right: 0.66667%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  /* line 52, ../../../components/sass/modules/_about.scss */
  #about #info section.about-kgb {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  /* line 60, ../../../components/sass/modules/_about.scss */
  #about #about-crossfit {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
  }
}
/* line 65, ../../../components/sass/modules/_about.scss */
#about #about-crossfit .quote, #about #about-crossfit .byline {
  font-style: italic;
}
/* line 69, ../../../components/sass/modules/_about.scss */
#about #about-crossfit .byline {
  float: right;
}
/* line 73, ../../../components/sass/modules/_about.scss */
#about #about-crossfit .l-quote:before {
  font-family: 'fontawesome';
  color: #E6AE2A;
  content: '\f10d';
  margin-right: .5em;
}
/* line 81, ../../../components/sass/modules/_about.scss */
#about #about-crossfit .r-quote:after {
  font-family: 'fontawesome';
  color: #E6AE2A;
  content: '\f10e';
  margin-left: .5em;
  margin-top: 1em;
}

/* line 3, ../../../components/sass/modules/_parallax.scss */
body > div > div.parallax-window {
  min-height: 300px;
  width: 100%;
  background: transparent;
}
@media (min-width: 768px) {
  /* line 3, ../../../components/sass/modules/_parallax.scss */
  body > div > div.parallax-window {
    min-height: 600px;
  }
}

/* line 1, ../../../components/sass/modules/_classes.scss */
#classes {
  font-weight: 100;
  background: radial-gradient(rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0) 16%) 0 0, radial-gradient(rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0) 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%) 8px 9px;
  background-color: #4d4d4d;
  background-size: 16px 16px;
  color: #fff;
  padding-bottom: 2em;
}
/* line 22, ../../../components/sass/_mixins.scss */
#classes:before, #classes:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
#classes:after {
  clear: both;
}
/* line 7, ../../../components/sass/modules/_classes.scss */
#classes p {
  margin: .5em 0;
}
/* line 11, ../../../components/sass/modules/_classes.scss */
#classes section h1 {
  -moz-border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  border-radius: 0.625em;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-family: "Roboto Slab", serif;
  padding: 0.625em;
}
/* line 20, ../../../components/sass/modules/_classes.scss */
#classes .heading {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
#classes .heading:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 23, ../../../components/sass/modules/_classes.scss */
#classes .heading p {
  -moz-border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  border-radius: 0.625em;
  background: rgba(0, 0, 0, 0.25);
  padding: 1.25em;
  border-bottom: 0.25rem solid rgba(255, 255, 255, 0.15);
  border-top: 0.25rem solid rgba(0, 0, 0, 0.25);
}
/* line 30, ../../../components/sass/modules/_classes.scss */
#classes .heading h1 {
  color: #fff;
}
/* line 33, ../../../components/sass/modules/_classes.scss */
#classes .heading p {
  color: #fff;
}
/* line 39, ../../../components/sass/modules/_classes.scss */
#classes .content h1 {
  margin: 1em 0;
  text-align: center;
  line-height: 100%;
  color: #fff;
}
/* line 45, ../../../components/sass/modules/_classes.scss */
#classes .content h1:before {
  font-family: 'fontawesome';
  margin-right: 10px;
  font-weight: 400;
}
/* line 50, ../../../components/sass/modules/_classes.scss */
#classes .content li:before {
  font-family: 'fontawesome';
  margin-right: .5em;
}
/* line 54, ../../../components/sass/modules/_classes.scss */
#classes .content ul {
  -moz-border-radius: 0.5625em;
  -webkit-border-radius: 0.5625em;
  border-radius: 0.5625em;
  background: rgba(0, 0, 0, 0.25);
  padding: .35em;
}
/* line 58, ../../../components/sass/modules/_classes.scss */
#classes .content ul li {
  font-style: italic;
  margin: .5em 0;
  margin-left: .75em;
}
/* line 66, ../../../components/sass/modules/_classes.scss */
#classes .content #foundations h1:before {
  content: '\f085';
}
/* line 69, ../../../components/sass/modules/_classes.scss */
#classes .content #foundations li:before {
  content: '\f013';
  font-style: normal;
  color: #8c8c8c;
}
/* line 74, ../../../components/sass/modules/_classes.scss */
#classes .content #foundations h1 {
  background-color: #09a455;
  border-bottom: 0.25rem solid #055c2f;
}
/* line 81, ../../../components/sass/modules/_classes.scss */
#classes .content #group-class h1:before {
  content: '\f1b3';
}
/* line 84, ../../../components/sass/modules/_classes.scss */
#classes .content #group-class h1 {
  background-color: #0a34ba;
  border-bottom: 0.25rem solid #051959;
}
/* line 89, ../../../components/sass/modules/_classes.scss */
#classes .content #group-class #group-button {
  -moz-border-radius: 1.25em;
  -webkit-border-radius: 1.25em;
  border-radius: 1.25em;
  background-color: #0a34ba;
  border-bottom: 0.25rem solid #051959;
  margin: 2.5em;
  padding: 1.25em;
  display: block;
}
/* line 97, ../../../components/sass/modules/_classes.scss */
#classes .content #group-class #group-button a h2, #classes .content #group-class #group-button a h3 {
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Droid Sans", sans-serif;
}
/* line 104, ../../../components/sass/modules/_classes.scss */
#classes .content #group-class #group-button a h2 {
  margin-top: 1.25em;
}
/* line 106, ../../../components/sass/modules/_classes.scss */
#classes .content #group-class #group-button a h2:after {
  font-family: 'fontawesome';
  content: '\f107';
  margin-left: 0.625em;
}
/* line 113, ../../../components/sass/modules/_classes.scss */
#classes .content #group-class #group-button a h3 i {
  font-size: 3rem;
  margin-top: 1rem;
}
/* line 123, ../../../components/sass/modules/_classes.scss */
#classes .content #ais h1:before {
  content: '\f0ad';
}
/* line 126, ../../../components/sass/modules/_classes.scss */
#classes .content #ais h1 {
  background-color: #b62702;
  border-bottom: 0.25rem solid #6b1701;
}
/* line 130, ../../../components/sass/modules/_classes.scss */
#classes .content #ais h2, #classes .content #ais h3 {
  text-shadow: 0 2px 0 #841c01;
  color: #b62702;
  text-align: center;
  font-size: 1.5rem;
}
/* line 136, ../../../components/sass/modules/_classes.scss */
#classes .content #ais .shaded-bg {
  -moz-border-radius: 0.5625em;
  -webkit-border-radius: 0.5625em;
  border-radius: 0.5625em;
  background: rgba(255, 255, 255, 0.05);
  padding: .35em;
  margin-top: 2.5em;
  border-bottom: 0.25rem solid rgba(0, 0, 0, 0.35);
}
@media (min-width: 1200px) {
  /* line 151, ../../../components/sass/modules/_classes.scss */
  #classes section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
  }
  /* line 153, ../../../components/sass/modules/_classes.scss */
  #classes section:first-child {
    border-left: none;
  }
  /* line 156, ../../../components/sass/modules/_classes.scss */
  #classes section:last-child {
    border-right: none;
  }
  /* line 161, ../../../components/sass/modules/_classes.scss */
  #classes .heading p {
    font-size: 1.3em;
  }
  /* line 164, ../../../components/sass/modules/_classes.scss */
  #classes .heading h1 {
    font-size: 2rem;
  }
  /* line 168, ../../../components/sass/modules/_classes.scss */
  #classes .content {
    font-size: 1.3em;
  }
}
@media (min-width: 768px) {
  /* line 174, ../../../components/sass/modules/_classes.scss */
  #classes section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
  }
  /* line 178, ../../../components/sass/modules/_classes.scss */
  #classes section:first-child {
    border-left: none;
  }
  /* line 182, ../../../components/sass/modules/_classes.scss */
  #classes section:last-child {
    border-right: none;
  }
  /* line 188, ../../../components/sass/modules/_classes.scss */
  #classes .content h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  /* line 194, ../../../components/sass/modules/_classes.scss */
  #classes section {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #000;
  }
  /* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  #classes section:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 200, ../../../components/sass/modules/_classes.scss */
  #classes .content h1 {
    font-size: 1.5rem;
  }
  /* line 203, ../../../components/sass/modules/_classes.scss */
  #classes .content p {
    margin-bottom: 1.25em;
  }
  /* line 207, ../../../components/sass/modules/_classes.scss */
  #classes .content #group-class #group-button {
    margin-bottom: 2.5em;
  }
}

/* line 1, ../../../components/sass/modules/_coaches.scss */
#coaches {
  font-size: 1rem;
  max-width: 97%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
#coaches:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 22, ../../../components/sass/_mixins.scss */
#coaches:before, #coaches:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
#coaches:after {
  clear: both;
}
/* line 6, ../../../components/sass/modules/_coaches.scss */
#coaches .heading {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
#coaches .heading:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 8, ../../../components/sass/modules/_coaches.scss */
#coaches .heading h1 {
  color: #000;
}
/* line 10, ../../../components/sass/modules/_coaches.scss */
#coaches img {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  /* line 16, ../../../components/sass/modules/_coaches.scss */
  #coaches .coach:last-child {
    border-left: 2px solid #E6AE2A;
  }
}
/* line 21, ../../../components/sass/modules/_coaches.scss */
#coaches .coach h2 {
  right: 0;
  bottom: -3px;
  font-size: 3rem;
  padding: 1rem;
  color: #E6AE2A;
  position: absolute;
  text-shadow: 1px 3px 0 #987012;
}
/* line 30, ../../../components/sass/modules/_coaches.scss */
#coaches .coach p {
  margin-top: 1.25em;
}
/* line 33, ../../../components/sass/modules/_coaches.scss */
#coaches .coach .licenses {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 34, ../../../components/sass/modules/_coaches.scss */
#coaches .coach .licenses h1 {
  font-size: 1.6rem;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
#coaches .coach .licenses:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 38, ../../../components/sass/modules/_coaches.scss */
#coaches .coach .licenses ul {
  margin-top: 1rem;
  margin-bottom: 1.875em;
  font-family: 'fontawesome';
}
/* line 42, ../../../components/sass/modules/_coaches.scss */
#coaches .coach .licenses ul li {
  font-size: 1em;
}
/* line 45, ../../../components/sass/modules/_coaches.scss */
#coaches .coach .licenses ul li:before {
  content: '\f058';
  color: #0abc61;
  margin: .5rem;
  display: inline-block;
  font-size: 1.2em;
}
/* line 57, ../../../components/sass/modules/_coaches.scss */
#coaches #lia .l-quote:before {
  font-family: 'fontawesome';
  color: #E6AE2A;
  content: '\f10d';
  margin-right: .5em;
}
/* line 64, ../../../components/sass/modules/_coaches.scss */
#coaches #lia .l-quote:first-child:before {
  font-size: 1.5rem;
}
/* line 68, ../../../components/sass/modules/_coaches.scss */
#coaches #lia .r-quote:after {
  font-family: 'fontawesome';
  color: #E6AE2A;
  content: '\f10e';
  display: inline-block;
  margin-left: .5em;
}
/* line 79, ../../../components/sass/modules/_coaches.scss */
#coaches #ben .coach-pic {
  -moz-border-radius-topleft: 1.25em;
  -webkit-border-top-left-radius: 1.25em;
  border-top-left-radius: 1.25em;
  -moz-border-radius-bottomleft: 1.25em;
  -webkit-border-bottom-left-radius: 1.25em;
  border-bottom-left-radius: 1.25em;
  display: block;
  position: relative;
  width: 100%;
  height: 30rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/ben.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 91, ../../../components/sass/modules/_coaches.scss */
#coaches #lia .coach-pic {
  -moz-border-radius-topright: 1.25em;
  -webkit-border-top-right-radius: 1.25em;
  border-top-right-radius: 1.25em;
  -moz-border-radius-bottomright: 1.25em;
  -webkit-border-bottom-right-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
  display: block;
  position: relative;
  width: 100%;
  height: 30rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/lia.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 768px) {
  /* line 104, ../../../components/sass/modules/_coaches.scss */
  #coaches .coach {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
  /* line 106, ../../../components/sass/modules/_coaches.scss */
  #coaches .coach p {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  #coaches .coach p:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  /* line 112, ../../../components/sass/modules/_coaches.scss */
  #coaches p {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  #coaches p:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 116, ../../../components/sass/modules/_coaches.scss */
  #coaches .coach .coach-pic {
    -moz-border-radius: 1.25em;
    -webkit-border-radius: 1.25em;
    border-radius: 1.25em;
  }
}

/* line 1, ../../../components/sass/modules/_schedule.scss */
#schedule {
  background: linear-gradient(45deg, #cccccc 25%, #b3b3b3 0%, #b3b3b3 50%, #cccccc 0%, #cccccc 75%, #b3b3b3 0%);
  background-size: 100px 100px;
  padding-top: 0;
  padding-bottom: 2.5em;
}
/* line 22, ../../../components/sass/_mixins.scss */
#schedule:before, #schedule:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
#schedule:after {
  clear: both;
}
/* line 7, ../../../components/sass/modules/_schedule.scss */
#schedule .heading {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5ZmQ0NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JhZmMxMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c9fd45), color-stop(100%, #bafc12));
  background-image: -moz-linear-gradient(#c9fd45, #bafc12);
  background-image: -webkit-linear-gradient(#c9fd45, #bafc12);
  background-image: linear-gradient(#c9fd45, #bafc12);
  -moz-box-shadow: 1px 3px 0 #fff;
  -webkit-box-shadow: 1px 3px 0 #fff;
  box-shadow: 1px 3px 0 #fff;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.25em;
  padding-left: 3.75em;
  padding-bottom: 0.625em;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
#schedule .heading:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 18, ../../../components/sass/modules/_schedule.scss */
#schedule .heading h1 {
  padding-top: 50px;
  text-shadow: 1px 3px 0 #fff;
  color: #000;
}
/* line 24, ../../../components/sass/modules/_schedule.scss */
#schedule .week {
  margin: 0 auto;
}
@media (min-width: 900px) {
  /* line 26, ../../../components/sass/modules/_schedule.scss */
  #schedule .week .day {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 0.625%;
    padding-right: 0.625%;
  }
}
/* line 30, ../../../components/sass/modules/_schedule.scss */
#schedule .week .day h1 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5ZmQ0NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JhZmMxMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c9fd45), color-stop(100%, #bafc12));
  background-image: -moz-linear-gradient(#c9fd45, #bafc12);
  background-image: -webkit-linear-gradient(#c9fd45, #bafc12);
  background-image: linear-gradient(#c9fd45, #bafc12);
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-top: 0.625em;
  padding: .5em;
}
@media (min-width: 768px) {
  /* line 30, ../../../components/sass/modules/_schedule.scss */
  #schedule .week .day h1 {
    -moz-box-shadow: 1px 3px 0 #fff;
    -webkit-box-shadow: 1px 3px 0 #fff;
    box-shadow: 1px 3px 0 #fff;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  /* line 30, ../../../components/sass/modules/_schedule.scss */
  #schedule .week .day h1 {
    margin-top: 1.5em;
  }
}
/* line 49, ../../../components/sass/modules/_schedule.scss */
#schedule .week .day p {
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  background-color: #0a34ba;
  color: #fff;
  font-size: 1.3rem;
  line-height: 140%;
  text-align: center;
  padding: .5em;
  margin: .5em;
}
/* line 58, ../../../components/sass/modules/_schedule.scss */
#schedule .week .day p.foundations-sched {
  background-color: #09a455;
}
/* line 61, ../../../components/sass/modules/_schedule.scss */
#schedule .week .day p.ais-sched {
  background-color: #b62702;
}
/* line 64, ../../../components/sass/modules/_schedule.scss */
#schedule .week .day p.open-gym {
  background-color: gray;
  color: #bafc12;
}

/* line 1, ../../../components/sass/modules/_location.scss */
#location {
  padding-bottom: 2.5em;
}
/* line 22, ../../../components/sass/_mixins.scss */
#location:before, #location:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
#location:after {
  clear: both;
}
/* line 5, ../../../components/sass/modules/_location.scss */
#location .heading {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
#location .heading:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 7, ../../../components/sass/modules/_location.scss */
#location .heading h1 {
  text-shadow: 0px 2px #af8115;
}
/* line 13, ../../../components/sass/modules/_location.scss */
#location .content section {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  line-height: 100%;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
#location .content section:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 17, ../../../components/sass/modules/_location.scss */
#location .content section ul {
  font-size: 1.5rem;
  line-height: 150%;
  text-align: right;
}
/* line 21, ../../../components/sass/modules/_location.scss */
#location .content section ul li a {
  color: #dda31a;
  font-family: "Roboto Slab", serif;
  text-decoration: underline;
}
/* line 25, ../../../components/sass/modules/_location.scss */
#location .content section ul li a:hover {
  color: #ebbf58;
}
/* line 30, ../../../components/sass/modules/_location.scss */
#location .content section h1 {
  font-size: 1.2rem;
  padding-bottom: 0.625em;
  color: #FD4E21;
}
/* line 35, ../../../components/sass/modules/_location.scss */
#location .content section h1:before {
  font-family: 'fontawesome';
  content: '\f279';
  font-weight: 400;
  color: #FD4E21;
  margin-right: 0.625em;
}
/* line 44, ../../../components/sass/modules/_location.scss */
#location .content iframe {
  width: 100%;
  height: 18.75em;
}
/* line 49, ../../../components/sass/modules/_location.scss */
#location .content #directions {
  -moz-border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  border-radius: 0.625em;
  border: 3px solid #FD4E21;
  padding: 0.625em;
  margin-bottom: 2.5em;
  font-size: 1.25rem;
  line-height: 140%;
}
/* line 56, ../../../components/sass/modules/_location.scss */
#location .content #directions h1 {
  font-size: 1.75rem;
}
@media (min-width: 768px) {
  /* line 60, ../../../components/sass/modules/_location.scss */
  #location .content iframe {
    -moz-border-radius: 1.25em;
    -webkit-border-radius: 1.25em;
    border-radius: 1.25em;
  }
  /* line 63, ../../../components/sass/modules/_location.scss */
  #location .content .text {
    line-height: 170%;
  }
  /* line 64, ../../../components/sass/modules/_location.scss */
  #location .content .text p {
    font-size: 1.5rem;
  }
  /* line 67, ../../../components/sass/modules/_location.scss */
  #location .content section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  /* line 69, ../../../components/sass/modules/_location.scss */
  #location .content section iframe {
    width: 100%;
    height: 37.5em;
  }
  /* line 74, ../../../components/sass/modules/_location.scss */
  #location .content #directions {
    font-size: 1.5rem;
    line-height: 140%;
  }
  /* line 77, ../../../components/sass/modules/_location.scss */
  #location .content #directions h1 {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  /* line 83, ../../../components/sass/modules/_location.scss */
  #location .content iframe {
    width: 100%;
    height: 25em;
    -moz-border-radius: 2.5em;
    -webkit-border-radius: 2.5em;
    border-radius: 2.5em;
  }
  /* line 89, ../../../components/sass/modules/_location.scss */
  #location .content .text p {
    font-size: 1.5rem;
  }
  /* line 91, ../../../components/sass/modules/_location.scss */
  #location .content .text ul li {
    font-size: 2rem;
    margin-top: 0.625em;
  }
  /* line 98, ../../../components/sass/modules/_location.scss */
  #location .content #directions {
    font-size: 1rem;
    line-height: 140%;
  }
  /* line 101, ../../../components/sass/modules/_location.scss */
  #location .content #directions h1 {
    font-size: 1.5rem;
  }
}

/* line 1, ../../../components/sass/modules/_footer.scss */
footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(#333333, #000000);
  background-image: -webkit-linear-gradient(#333333, #000000);
  background-image: linear-gradient(#333333, #000000);
  padding: 1.25em 0;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
footer:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 8, ../../../components/sass/modules/_footer.scss */
footer #socialmedia {
  text-align: center;
}
/* line 10, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul {
  list-style: none;
}
/* line 12, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li {
  display: inline-block;
  padding: 0 0.625em;
}
/* line 13, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li h1 {
  color: #fff;
  font-weight: 400;
  font-family: "Droid Sans", sans-serif;
}
@media (min-width: 768px) {
  /* line 13, ../../../components/sass/modules/_footer.scss */
  footer #socialmedia ul li h1 {
    font-size: 1.2em;
  }
}
/* line 23, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li img {
  width: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
}
