/* Style.css */
/*Compass Imports*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,100,700|Roboto+Slab:100,400,700);
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*External Libraries*/
/*Internal Partials*/
/* line 21, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 106, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 1, ../../../components/sass/_layout.scss */
body {
  background: #fff;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

/* line 8, ../../../components/sass/_layout.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab";
  color: #E6AE2A;
  font-weight: 700;
}

/* line 13, ../../../components/sass/_layout.scss */
strong {
  font-weight: 700;
}

/* line 16, ../../../components/sass/_layout.scss */
p {
  margin: 0;
  margin-bottom: 1.25em;
  text-align: justify;
}

/* line 21, ../../../components/sass/_layout.scss */
.scene {
  padding-top: 75px;
}
/* line 24, ../../../components/sass/_layout.scss */
.scene .heading h1 {
  font-size: 2rem;
  margin-bottom: 0.625em;
}

/* line 30, ../../../components/sass/_layout.scss */
a {
  text-decoration: none;
}
/* line 32, ../../../components/sass/_layout.scss */
a:hover {
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1200px) {
  /* line 37, ../../../components/sass/_layout.scss */
  body {
    font-size: 1.1rem;
    line-height: 130%;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  /* line 43, ../../../components/sass/_layout.scss */
  body {
    font-size: 1.3rem;
    line-height: 130%;
  }
}
@media (min-width: 0) and (max-width: 640px) {
  /* line 49, ../../../components/sass/_layout.scss */
  body {
    font-size: 1.5rem;
    line-height: 140%;
  }
}
/*Modules*/
/* line 2, ../../../components/sass/modules/_nav.scss */
.navbar {
  margin-bottom: 0;
}

/* line 6, ../../../components/sass/modules/_nav.scss */
header .navbar-default {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(#333333, #000000);
  background-image: -webkit-linear-gradient(#333333, #000000);
  background-image: linear-gradient(#333333, #000000);
  height: 50px;
  border: none;
  border-radius: 0;
  z-index: 100;
}
/* line 14, ../../../components/sass/modules/_nav.scss */
header .navbar-default .nav-wrap {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
header .navbar-default .nav-wrap:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 17, ../../../components/sass/modules/_nav.scss */
header .navbar-default .navbar-nav a, header .navbar-default .navbar-nav a:focus {
  color: #fff;
  font-family: "Roboto Slab";
  font-size: 1.2rem;
  padding: 10px;
}
@media (max-width: 768px) {
  /* line 17, ../../../components/sass/modules/_nav.scss */
  header .navbar-default .navbar-nav a, header .navbar-default .navbar-nav a:focus {
    font-size: 1rem;
  }
}
/* line 26, ../../../components/sass/modules/_nav.scss */
header .navbar-default .navbar-nav a:hover, header .navbar-default .navbar-nav a:focus:hover {
  color: #E6AE2A;
  border-bottom: 4px solid #E6AE2A;
}
/* line 30, ../../../components/sass/modules/_nav.scss */
header .navbar-default .navbar-nav a.active, header .navbar-default .navbar-nav a:focus.active {
  color: #E6AE2A;
  border-bottom: 4px solid #E6AE2A;
}
@media (max-width: 768px) {
  /* line 6, ../../../components/sass/modules/_nav.scss */
  header .navbar-default {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
  }
}

/* line 44, ../../../components/sass/modules/_nav.scss */
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

/* line 53, ../../../components/sass/modules/_nav.scss */
.navbar-default .navbar-toggle {
  background-color: #fff;
  border: 2px solid #E6AE2A;
}
/* line 56, ../../../components/sass/modules/_nav.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #E6AE2A;
}
/* line 59, ../../../components/sass/modules/_nav.scss */
.navbar-default .navbar-toggle:focus {
  background-color: #E6AE2A;
}
/* line 61, ../../../components/sass/modules/_nav.scss */
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
/* line 65, ../../../components/sass/modules/_nav.scss */
.navbar-default .navbar-toggle:hover {
  background-color: #E6AE2A;
  border: 2px solid #fff;
}
/* line 68, ../../../components/sass/modules/_nav.scss */
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}

@media only screen and (max-width: 768px) {
  /* line 75, ../../../components/sass/modules/_nav.scss */
  header .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.75);
  }

  /* line 77, ../../../components/sass/modules/_nav.scss */
  header .navbar-default .nav-wrap {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  header .navbar-default .nav-wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 80, ../../../components/sass/modules/_nav.scss */
  header .navbar-default .navbar-nav a, header .navbar-default .navbar-nav a:focus {
    color: #fff;
    font-size: 2rem;
    padding: 10px;
    margin-left: 2rem;
  }
  /* line 85, ../../../components/sass/modules/_nav.scss */
  header .navbar-default .navbar-nav a:hover, header .navbar-default .navbar-nav a:focus:hover {
    color: #E6AE2A;
    border-bottom: 4px solid #E6AE2A;
    padding-bottom: 6px;
  }
  /* line 90, ../../../components/sass/modules/_nav.scss */
  header .navbar-default .navbar-nav a.active, header .navbar-default .navbar-nav a:focus.active {
    color: #E6AE2A;
    border-bottom: 4px solid #E6AE2A;
    padding-bottom: 6px;
  }
}
/* line 2, ../../../components/sass/modules/_carousel.scss */
#kgb-logo {
  float: left;
  position: fixed;
  z-index: 101;
  transition: all .5s ease-in-out;
  background-image: url(../images/kgblogo.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

@media (min-width: 0) and (max-width: 768px) {
  /* line 13, ../../../components/sass/modules/_carousel.scss */
  #kgb-logo {
    width: 300px;
    height: 50px;
  }
}
/* line 18, ../../../components/sass/modules/_carousel.scss */
.logo-bg {
  position: fixed;
  width: 100%;
  height: 25%;
  background: linear-gradient(#000000, #000000, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  opacity: .5;
  z-index: 98;
  transition: all 1s ease-in-out;
  text-align: right;
}

/* line 29, ../../../components/sass/modules/_carousel.scss */
.bg-hide {
  opacity: 0;
  height: 0;
}

/* line 30, ../../../components/sass/modules/_carousel.scss */
.kgb-lg {
  width: 600px;
  height: 100px;
}

/* line 34, ../../../components/sass/modules/_carousel.scss */
.kgb-sm {
  width: 300px;
  height: 50px;
}

/* Carousel Fade */
/* line 40, ../../../components/sass/modules/_carousel.scss */
.carousel.fade {
  opacity: 1;
}

/* line 44, ../../../components/sass/modules/_carousel.scss */
.carousel.fade .item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

/* line 54, ../../../components/sass/modules/_carousel.scss */
.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;
  position: relative;
}

/* line 60, ../../../components/sass/modules/_carousel.scss */
.carousel.fade .item.active {
  opacity: 1;
}

/* line 65, ../../../components/sass/modules/_carousel.scss */
.carousel-control {
  opacity: 0;
}

/* line 68, ../../../components/sass/modules/_carousel.scss */
.carousel-control.right, .carousel-control.left {
  background-image: none;
}

/* line 71, ../../../components/sass/modules/_carousel.scss */
#featured .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

/* line 1, ../../../components/sass/modules/_about.scss */
#about {
  margin-bottom: 2em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
#about:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 4, ../../../components/sass/modules/_about.scss */
#about strong {
  font-family: "Roboto Slab";
}
/* line 22, ../../../components/sass/_mixins.scss */
#about article:before, #about article:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
#about article:after {
  clear: both;
}
/* line 9, ../../../components/sass/modules/_about.scss */
#about article ul {
  padding-left: 1.25em;
  padding-right: 1.25em;
}
/* line 22, ../../../components/sass/_mixins.scss */
#about article #community:before, #about article #community:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
#about article #community:after {
  clear: both;
}
/* line 15, ../../../components/sass/modules/_about.scss */
#about article #community ul {
  margin-top: 1em;
}
/* line 17, ../../../components/sass/modules/_about.scss */
#about article #community img {
  width: 100%;
  margin-bottom: 1em;
}
/* line 22, ../../../components/sass/modules/_about.scss */
#about article #components {
  padding-bottom: 1em;
}
/* line 22, ../../../components/sass/_mixins.scss */
#about article #components:before, #about article #components:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
#about article #components:after {
  clear: both;
}
/* line 22, ../../../components/sass/_mixins.scss */
#about article .about-kgb:before, #about article .about-kgb:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
#about article .about-kgb:after {
  clear: both;
}
/* line 29, ../../../components/sass/modules/_about.scss */
#about article .about-kgb li {
  border-bottom: 1px solid #E6AE2A;
  padding-right: 0.625em;
  padding-left: 1.25em;
  padding-bottom: 1.25em;
  text-align: justify;
  margin: 5px auto;
}
/* line 30, ../../../components/sass/modules/_about.scss */
#about article .about-kgb li strong {
  text-shadow: 0 2px 0 #E6AE2A;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  /* line 41, ../../../components/sass/modules/_about.scss */
  #about article .about-kgb li:last-child {
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  /* line 50, ../../../components/sass/modules/_about.scss */
  #about #info section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.66667%;
    padding-right: 0.66667%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  /* line 55, ../../../components/sass/modules/_about.scss */
  #about #info section.about-kgb {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  /* line 63, ../../../components/sass/modules/_about.scss */
  #about #about-crossfit {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
  }
}
/* line 68, ../../../components/sass/modules/_about.scss */
#about #about-crossfit .quote, #about #about-crossfit .byline {
  font-style: italic;
}
/* line 72, ../../../components/sass/modules/_about.scss */
#about #about-crossfit .byline {
  float: right;
}
/* line 76, ../../../components/sass/modules/_about.scss */
#about #about-crossfit .l-quote:before {
  font-family: 'fontawesome';
  color: #E6AE2A;
  content: '\f10d';
  margin-right: .5em;
}
/* line 83, ../../../components/sass/modules/_about.scss */
#about #about-crossfit .l-quote:first-child:before {
  font-size: 1.5rem;
}
/* line 87, ../../../components/sass/modules/_about.scss */
#about #about-crossfit .r-quote:after {
  font-family: 'fontawesome';
  color: #E6AE2A;
  content: '\f10e';
  margin-left: .5em;
  margin-top: 1em;
}
@media (min-width: 640px) and (max-width: 768px) {
  /* line 1, ../../../components/sass/modules/_about.scss */
  #about {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  #about:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 0) and (max-width: 640px) {
  /* line 1, ../../../components/sass/modules/_about.scss */
  #about {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  #about:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 1, ../../../components/sass/modules/_classes.scss */
#classes {
  color: #fff;
  padding-bottom: 2em;
  background-color: #bd8b16;
}
/* line 4, ../../../components/sass/modules/_classes.scss */
#classes p {
  margin: .5em 0;
}
/* line 22, ../../../components/sass/_mixins.scss */
#classes:before, #classes:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
#classes:after {
  clear: both;
}
/* line 9, ../../../components/sass/modules/_classes.scss */
#classes .heading {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
/* line 10, ../../../components/sass/modules/_classes.scss */
#classes .heading p {
  -moz-border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  border-radius: 0.625em;
  background: rgba(0, 0, 0, 0.25);
  padding: 1.25em;
  border-bottom: 4px solid rgba(107, 79, 13, 0.5);
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
#classes .heading:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 18, ../../../components/sass/modules/_classes.scss */
#classes .heading h1 {
  color: #fff;
}
/* line 22, ../../../components/sass/modules/_classes.scss */
#classes .heading p {
  color: #fff;
}
/* line 27, ../../../components/sass/modules/_classes.scss */
#classes .content h1 {
  margin: 1em 0;
  text-align: center;
  line-height: 100%;
  color: #fff;
}
/* line 33, ../../../components/sass/modules/_classes.scss */
#classes .content h1:before {
  font-family: 'fontawesome';
  margin-right: 10px;
  font-weight: 400;
  font-size: 2rem;
}
/* line 39, ../../../components/sass/modules/_classes.scss */
#classes .content li:before {
  font-family: 'fontawesome';
  margin-right: 10px;
  margin-left: 25px;
}
/* line 44, ../../../components/sass/modules/_classes.scss */
#classes .content li {
  font-style: italic;
  margin: .25em 0;
}
/* line 49, ../../../components/sass/modules/_classes.scss */
#classes .content #foundations h1:before {
  content: '\f085';
}
/* line 52, ../../../components/sass/modules/_classes.scss */
#classes .content #foundations li:before {
  content: '\f013';
  font-style: normal;
}
/* line 56, ../../../components/sass/modules/_classes.scss */
#classes .content #foundations h1 {
  background-color: #09a455;
}
/* line 62, ../../../components/sass/modules/_classes.scss */
#classes .content #group-class h1:before {
  content: '\f1b3';
}
/* line 65, ../../../components/sass/modules/_classes.scss */
#classes .content #group-class h1 {
  background-color: #0a34ba;
}
/* line 69, ../../../components/sass/modules/_classes.scss */
#classes .content #group-class #group-button {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjNDFlYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA5MmRhMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0c41ea), color-stop(100%, #092da1));
  background-image: -moz-linear-gradient(#0c41ea, #092da1);
  background-image: -webkit-linear-gradient(#0c41ea, #092da1);
  background-image: linear-gradient(#0c41ea, #092da1);
  border-bottom: 6px solid black;
  -moz-border-radius: 1.25em;
  -webkit-border-radius: 1.25em;
  border-radius: 1.25em;
  width: 75%;
  margin: 1.25em auto;
  margin-top: 3.75em;
  padding: 1.25em;
  display: block;
}
/* line 82, ../../../components/sass/modules/_classes.scss */
#classes .content #group-class #group-button a h2, #classes .content #group-class #group-button a h3 {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Lato";
}
/* line 89, ../../../components/sass/modules/_classes.scss */
#classes .content #group-class #group-button a h2 {
  margin-top: 1.25em;
}
/* line 91, ../../../components/sass/modules/_classes.scss */
#classes .content #group-class #group-button a h2:after {
  font-family: 'fontawesome';
  content: '\f13a';
  margin-left: 0.625em;
}
/* line 98, ../../../components/sass/modules/_classes.scss */
#classes .content #group-class #group-button a h3 i {
  font-size: 5rem;
  margin-top: 1rem;
}
/* line 108, ../../../components/sass/modules/_classes.scss */
#classes .content #ais h1:before {
  content: '\f0ad';
}
/* line 111, ../../../components/sass/modules/_classes.scss */
#classes .content #ais h1 {
  background-color: #b62702;
}
/* line 114, ../../../components/sass/modules/_classes.scss */
#classes .content #ais h2, #classes .content #ais h3 {
  color: #b62702;
  text-align: center;
  margin: 15px auto;
}
/* line 119, ../../../components/sass/modules/_classes.scss */
#classes .content #ais h2 {
  font-size: 2rem;
}
/* line 126, ../../../components/sass/modules/_classes.scss */
#classes img {
  width: 100%;
  max-width: 400px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 133, ../../../components/sass/modules/_classes.scss */
#classes section h1 {
  -moz-border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  border-radius: 0.625em;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-family: "Roboto Slab";
  padding: 0.625em;
}
@media (min-width: 1200px) {
  /* line 144, ../../../components/sass/modules/_classes.scss */
  #classes section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
    border-left: 1px solid rgba(107, 79, 13, 0.5);
    border-right: 1px solid rgba(107, 79, 13, 0.5);
  }
  /* line 148, ../../../components/sass/modules/_classes.scss */
  #classes section:first-child {
    border-left: none;
    border-right: none;
  }
  /* line 152, ../../../components/sass/modules/_classes.scss */
  #classes section:last-child {
    border-left: none;
    border-right: none;
  }
  /* line 158, ../../../components/sass/modules/_classes.scss */
  #classes .heading p {
    font-size: 1.3em;
  }
  /* line 162, ../../../components/sass/modules/_classes.scss */
  #classes .content {
    font-size: 1.3em;
  }
  /* line 164, ../../../components/sass/modules/_classes.scss */
  #classes .content h1 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  /* line 171, ../../../components/sass/modules/_classes.scss */
  #classes section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
    border-left: 1px solid rgba(107, 79, 13, 0.5);
    border-right: 1px solid rgba(107, 79, 13, 0.5);
  }
  /* line 175, ../../../components/sass/modules/_classes.scss */
  #classes section:first-child {
    border-left: none;
    border-right: none;
  }
  /* line 179, ../../../components/sass/modules/_classes.scss */
  #classes section:last-child {
    border-left: none;
    border-right: none;
  }
  /* line 185, ../../../components/sass/modules/_classes.scss */
  #classes .content h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  /* line 193, ../../../components/sass/modules/_classes.scss */
  #classes section {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #000;
  }
  /* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  #classes section:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 198, ../../../components/sass/modules/_classes.scss */
  #classes .content h1, #classes .content h2, #classes .content h3 {
    text-align: center;
  }
  /* line 199, ../../../components/sass/modules/_classes.scss */
  #classes .content h1 {
    font-size: 2.5rem;
  }
  /* line 202, ../../../components/sass/modules/_classes.scss */
  #classes .content p {
    margin-bottom: 1.25em;
  }
  /* line 206, ../../../components/sass/modules/_classes.scss */
  #classes .content #group-class #group-button {
    margin-bottom: 2.5em;
  }
}

/* line 1, ../../../components/sass/modules/_parallax.scss */
.parallax-window {
  min-height: 300px;
  width: 100%;
  background: transparent;
}
@media (min-width: 768px) {
  /* line 1, ../../../components/sass/modules/_parallax.scss */
  .parallax-window {
    min-height: 600px;
  }
}

/* line 1, ../../../components/sass/modules/_coaches.scss */
#coaches {
  font-size: 1.2rem;
  max-width: 97%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
#coaches:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 22, ../../../components/sass/_mixins.scss */
#coaches:before, #coaches:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
#coaches:after {
  clear: both;
}
/* line 6, ../../../components/sass/modules/_coaches.scss */
#coaches .heading {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
#coaches .heading:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 8, ../../../components/sass/modules/_coaches.scss */
#coaches .heading h1 {
  color: #000;
}
/* line 10, ../../../components/sass/modules/_coaches.scss */
#coaches img {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  /* line 16, ../../../components/sass/modules/_coaches.scss */
  #coaches .coach:last-child {
    border-left: 2px solid #E6AE2A;
  }
}
/* line 21, ../../../components/sass/modules/_coaches.scss */
#coaches .coach h2 {
  right: 0;
  bottom: -3px;
  font-size: 3.5rem;
  padding: 1rem;
  color: #E6AE2A;
  position: absolute;
  text-shadow: 1px 3px 0 #987012;
}
/* line 30, ../../../components/sass/modules/_coaches.scss */
#coaches .coach p {
  margin-top: 1.25em;
}
/* line 33, ../../../components/sass/modules/_coaches.scss */
#coaches .coach .licenses {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 34, ../../../components/sass/modules/_coaches.scss */
#coaches .coach .licenses h1 {
  font-size: 1.6rem;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
#coaches .coach .licenses:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 38, ../../../components/sass/modules/_coaches.scss */
#coaches .coach .licenses ul {
  margin-top: 1rem;
  margin-bottom: 1.875em;
  font-family: 'fontawesome';
}
/* line 42, ../../../components/sass/modules/_coaches.scss */
#coaches .coach .licenses ul li:before {
  content: '\f058';
  color: #0abc61;
  margin: .5rem 1rem;
  display: inline-block;
  font-size: 1.5rem;
}
/* line 54, ../../../components/sass/modules/_coaches.scss */
#coaches #lia .l-quote:before {
  font-family: 'fontawesome';
  color: #E6AE2A;
  content: '\f10d';
  margin-right: .5em;
}
/* line 61, ../../../components/sass/modules/_coaches.scss */
#coaches #lia .l-quote:first-child:before {
  font-size: 1.5rem;
}
/* line 65, ../../../components/sass/modules/_coaches.scss */
#coaches #lia .r-quote:after {
  font-family: 'fontawesome';
  color: #E6AE2A;
  content: '\f10e';
  display: inline-block;
  margin-left: .5em;
}
/* line 76, ../../../components/sass/modules/_coaches.scss */
#coaches #ben .coach-pic {
  -moz-border-radius-topleft: 1.25em;
  -webkit-border-top-left-radius: 1.25em;
  border-top-left-radius: 1.25em;
  -moz-border-radius-bottomleft: 1.25em;
  -webkit-border-bottom-left-radius: 1.25em;
  border-bottom-left-radius: 1.25em;
  display: block;
  position: relative;
  width: 100%;
  height: 30rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/ben.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 88, ../../../components/sass/modules/_coaches.scss */
#coaches #lia .coach-pic {
  -moz-border-radius-topright: 1.25em;
  -webkit-border-top-right-radius: 1.25em;
  border-top-right-radius: 1.25em;
  -moz-border-radius-bottomright: 1.25em;
  -webkit-border-bottom-right-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
  display: block;
  position: relative;
  width: 100%;
  height: 30rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/lia.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 768px) {
  /* line 101, ../../../components/sass/modules/_coaches.scss */
  #coaches .coach {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
  /* line 103, ../../../components/sass/modules/_coaches.scss */
  #coaches .coach p {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  #coaches .coach p:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  /* line 109, ../../../components/sass/modules/_coaches.scss */
  #coaches p {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  #coaches p:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 113, ../../../components/sass/modules/_coaches.scss */
  #coaches .coach .coach-pic {
    -moz-border-radius: 1.25em;
    -webkit-border-radius: 1.25em;
    border-radius: 1.25em;
  }
}
